.contact button[type="submit"] {
    background: #5fcf80;
    border: 0;
    padding: 10px 35px;
    color: #fff;
    transition: 0.4s;
    border-radius: 50px;
  }
      .contact {
    padding-top: 5px;
  }
  
  .contact .info {
    width: 100%;
    background: #fff;
  }
  
  .contact .info i {
    font-size: 20px;
    color: #5fcf80;
    float: left;
    width: 44px;
    height: 44px;
    background: #ecf9f0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
  }
  
  .contact .info h4 {
    padding: 0 0 0 60px;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #37423b;
  }
  
  .contact .info p {
    padding: 0 0 0 60px;
    margin-bottom: 0;
    font-size: 14px;
    color: #657a6d;
  }
  
  .contact .info .email, .contact .info .phone {
    margin-top: 40px;
  }
  
      .contact .info .email:hover i, .contact .info .address:hover i, .contact .info .phone:hover i {
    background: #5fcf80;
    color: #fff;
  }