<!DOCTYPE html>
{% load static %}
{% load pwa %}
{% progressive_web_app_meta %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block extra_css %}

    {% endblock %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <header>
        <ul id="myTopnav" class="nav"><span id="logo"><a href="#" onclick="myFunction()"><i class="fa fa-ellipsis-h"></i></a></span>
          <li><a href="#">Get Started</a></li>
          <li><a href="#">Discover</a></li>
          <li><a href="#">Manual</a></li>
          <li><a href="#">Help</a></li>
          <li><a href="{% url "basic_app:dashboard" %}">View Dashboard</a></li>
          {% if user.is_authenticated %}
              <li><a href="#">Hello, {{user.username}}</a></li>
              <li><a href="{% url "basic_app:logout" %}">Logout</a></li>
          {% else %}
              <li><a href="{% url "basic_app:create_user" %}">Sign Up</a></li>
              <li><a href="{% url "basic_app:login" %}">Sign In</a></li>
          {% endif %}
        </ul>
    </header>


    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-3">Fluid jumbo heading</h1>
        <p class="lead">Jumbo helper text</p>
        <hr class="my-2">
        <p>More info</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="Jumbo action link" role="button">Jumbo action name</a>
        </p>
      </div>
    </div>


    <div id="chat-circle" class="btn btn-raised">
        <div id="chat-overlay"></div>
          <i class="fas fa-headset fa-3x"></i>
	      </div>

        <div class="chat-box">
          <div class="chat-box-header">
            ChatBot
            <span class="chat-box-toggle"><i class="far fa-window-close"></i></span>
          </div>
          <div class="chat-box-body">
            <div class="chat-box-overlay">
            </div>
            <div class="chat-logs">

            </div><!--chat-log -->
          </div>
          <div class="chat-input">
            <form class="chat-input" onsubmit="return false;">
              {%csrf_token%}
        			<input id="chat-input" type="text" autocomplete="on" placeholder="Type a message" />
              <button type="submit" class="chat-submit" id="chat-submit"><i class="fas fa-arrow-circle-right fa-2x"></i></button>
            </form>
          </div>
      </div>

      {% block content %}

      {% endblock %}

      <section class="bg-shd" id="contacts">
        <div class="box">
          <h2>Subscribe</h2>
          <form class="sub-form">
            <label for="user">
              <input id="user" type="text" placeholder="Name"/>
            </label>
            <label for="email">
              <input id="email" type="email" placeholder="Email"/>
            </label>
            <button class="sm" type="submit">Submit</button>
          </form>
        </div>
      </section>

      <footer>
        <div class="box">
          <ul class="nav">
            <li class="icon"><a href="#"><i class="fa fa-envelope"></i></a></li>
            <li class="icon"><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li class="icon"><a href="#"><i class="fab fa-instagram"></i></a></li>
            <li class="icon"><a href="#"><i class="fab fa-facebook"></i></a></li>
          </ul>
        </div>
      </footer>
<script>
    function myFunction() {
    var x = document.getElementById("myTopnav");
    if (x.className === "nav") {
        x.className += " responsive";
    } else {
        x.className = "nav";
    }
    }
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js">
</script>
<script>
  $(function() {
      var INDEX = 0;
      $("#chat-submit").click(function(e) {
      e.preventDefault();
      var msg = $("#chat-input").val();
      if(msg.trim() == ''){
        return false;
      }
      $.ajax({
          url : "{% url "basic_app:chat_update" %}",
          type : 'GET',
          data : { msgbox : msg },
          success : function(json){
              generate_message(msg, 'self');
              setTimeout(function() {
                generate_message(json.response, 'user');
              }, 1000)
          }
      })


      })
      function generate_message(msg, type) {
        INDEX++;
        var str="";
        str += "<div id='cm-msg-"+INDEX+"' class=\"chat-msg "+type+"\">";
        str += "          <span class=\"msg-avatar\">";
        str += "          <\/span>";
        str += "          <div class=\"cm-msg-text\">";
        str += msg;
        str += "          <\/div>";
        str += "        <\/div>";
        $(".chat-logs").append(str);
        $("#cm-msg-"+INDEX).hide().fadeIn(300);
        if(type == 'self'){
         $("#chat-input").val('');
        }
        $(".chat-logs").stop().animate({ scrollTop: $(".chat-logs")[0].scrollHeight}, 1000);
      }



      $(document).delegate(".chat-btn", "click", function() {
        var value = $(this).attr("chat-value");
        var name = $(this).html();
        $("#chat-input").attr("disabled", false);
        generate_message(name, 'self');
      })

      $("#chat-circle").click(function() {
      $("#chat-circle").toggle('scale');
      $(".chat-box").toggle('scale');
      })

      $(".chat-box-toggle").click(function() {
      $("#chat-circle").toggle('scale');
      $(".chat-box").toggle('scale');
      })

  })
</script>
{% block extra_js %}

{% endblock %}
</body>
</html>
